.book-menu {
    background-color: #ececec;
    padding: 20px;
}

.book-menu h2 {
    color: #222f3e;
    font-size: 2rem;
}

.book-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.book-card {
    width: 45%;
    background-color: white;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 80px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border: 1px solid black;
}

.book-card img {
    margin-top: 5px;
    margin-left: 5px;
    width: 140px;
    height: 210px;
    object-fit: contain;
    border-radius: 5px;
}

.book-details {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
    flex: 1; 
    flex-shrink: 1; 
}

.book-details p {
    margin-bottom: 0px;
    /* color: #003366; */
    color: green;
}

.price {
    font-size: 1.4rem;
    color: black !important;
}

.quantity-info {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.quantity {
    display: flex;
    align-items: center;
}
  
.quantity-btn {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
    background-color: #f2f2f2;
    }
}

.quantity-value {
    margin: 0 15px;
    margin-top: -8px;
    /* vertical-align: middle; */
    text-align: center;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: flex-start; */
}

.order-btn {
    background-color: blue;
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 10px;
    color: white;
    margin-right: 10px;
}

.order-btn:hover, #orderBtn:hover {
    background-color: green;
    /* padding: 8px 20px; */
}

.add2cart-btn {
    background-color: green;
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 10px;
    color: white;
}

.add2cart-btn:hover {
    background-color: blue;
    /* padding: 8px 20px; */
}

.author-details {
    margin-top: auto; /* Push the bottom details to the bottom */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seeAllBtn{
    text-decoration: none;
    font: bold;
    color: black;
    font-weight: 600;
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}


@media (min-width: 769px) and (max-width: 992px) {
    /* Styles for tablets in landscape mode */
    .book-container {
        width: 100%;
        align-items: center;
    }

    .book-card {
        width: 48%;
    }
  }

@media (min-width: 577px) and (max-width: 768px) {
    /* Media query for smaller screens */
    .book-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .book-card {
        width: 80%;
    }
   
}

@media (max-width: 576px) {
    /* Styles for small devices */
    .book-details {
        margin-left:10px;
    }
    .book-menu {
        padding: 10px;
    }
    .book-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .book-card {
        width: 95%;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
       
    }

    .book-card img {
        border-radius: 10px;
        width: 130px;
        height: 195px;
        /* width: 280px; */
    }
  }

  @media (max-width: 320px) {
    .book-menu {
        padding: 8px;
    }
    .book-card img {
        border-radius: 10px;
        width: 100px;
        height: 160px;
    }
  }